html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  margin: 0 px;
  width: 100%;
  height: 100%;
}

.translatearea {
  top: 30%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 330px;
  color: green;
}

.boxstyles {
  height: 325px;
  width: 570px;
  resize: none;
}

#input {
  margin-right: 30px;
}

.boxArea {
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 50px;
  margin-left: 18%;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo label {
  margin-top: 10px;
  font-size: 18px;
  color: green;
}

#translateButton {
  top: 65%;
  width: 100%;
  position: absolute;
  margin-left: 18.9%;
}

#langPicker {
  width: 23%;
  background-color: green;
  color: white;
}
